<div class="container">
  <div class="d-flex justify-content-center">
    <div class="card w-25 p-3">
      <form (submit)="onSubmit($event)" [formGroup]="validateForm" novalidate>
        <h3>Thông Tin Đăng Nhập</h3>

        <div class="form-group">
          <label>UserName</label>
          <input type="text" class="form-control" placeholder="Username" id="userName" formControlName="userName">
          <div *ngIf="validateForm.controls['userName'].invalid && (validateForm.controls['userName'].dirty || validateForm.controls['userName'].touched)"
            class="alert alert-danger">
            <div *ngIf="validateForm.controls['userName'].errors.required">
              user name is required.
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" autocomplete="off" placeholder="Password" id="password" formControlName="password">
          <div *ngIf="validateForm.controls['password'].invalid && (validateForm.controls['password'].dirty || validateForm.controls['password'].touched)"
            class="alert alert-danger">
            <div *ngIf="validateForm.controls['password'].errors.required">
              password is required.
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-center form-group">
          <button class="btn btn-primary" type="submit" id="submit">Login</button>
          <button class="btn btn-primary" type="button" routerLink="/home">Register</button>
        </div>
      </form>
    </div>
  </div>
</div>